@import 'meyer-reset.css';
@import url('https://fonts.googleapis.com/css2?family=Damion&family=Fredoka:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

/* Structure */

body {
    background-color: #eeea00;
    min-height: 100vh;
}

inner-column {
    display: flex;
    flex-direction: column;
	
    width: 90%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;

    padding: 10px;
}

header {
    background-color: transparent;
    color: black;
    height: 5rem;
    font-size: 2.5rem;

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
}

.logo {
    display: flex;
    flex-grow: 0;
}

header, a {
    font-family: 'Bree Serif', serif;
    display: flex;
    color: black;
    text-align: right;
    text-decoration: none;
}

main {
    flex-grow: 1;
}

/* options */

.interface {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.grid-size {
    display: flex;
    flex-direction: row;
    font-family: 'Fredoka', sans-serif;
    margin-top: 30px;
    justify-content: center;
    gap: 10px;
}

#grid-size {
    font-family: 'Fredoka', sans-serif;
    width: 100px;
    border-radius: 10px;
    box-shadow: 0px 3px  #1d2c35;
    padding: 5px;
}

.grid-option {
    font-family: 'Fredoka', sans-serif;
    font-size: 20px;
    width: 100px;
    border: none;
    border: .15rem solid black;

    box-shadow: 0px 3px  #1d2c35;
    padding: 5px;

    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}

.grid-option:hover {
    box-shadow: 0px 3px  #7444F7;
}

#user-prompt {
    font-family: 'Fredoka', sans-serif;
    font-size: 20px;
}

#user-size {
    font-family: 'Fredoka', sans-serif;
    font-size: 20px;
    width: 100px;
    height: 2rem;
    border: 1px solid black;
    
    box-shadow: 0px 3px  #1d2c35;
    padding: 5px;

    border: .15rem solid black;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;

}

.color {
    display: flex;
    flex-direction: column;

    font-family: 'Fredoka', sans-serif;

    margin-top: 30px;
    justify-content: center;
    gap: 10px;
}

.color-choice {
    font-family: 'Fredoka', sans-serif;
    font-size: 20px;
    width: 100px;
    height: 3rem;
    border: none;
    
    box-shadow: 0px 3px  #1d2c35;
    padding: 5px;

    border: .15rem solid black;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}

.color-choice:hover {
    box-shadow: 0px 3px  #7444F7;
}

/* grid */

.grid-square {
    display: inline-flex;
    flex-direction: row;
    background-color: rgb(233, 233, 233);
    gap: none;
    border: 1px solid black;
    margin-bottom: 0px;
}

.grid-square:hover {
    background-color: black;
}

.grid-break {
    display: flex;
    height: none;
    width: none;
}

#grid {
    display: grid;
    width: 960px;
    min-width: 960px;
    height: 960px;
    margin: none;
    border: .5rem solid black;
}

#grid-inner-column {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 800px;
}


/* About Page */
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

#about-title {
    display: flex 1;
    border: 1px solid black;
    margin-top: 3rem;
    font-family: 'Bree Serif', serif;
    text-align: center;
    font-size: 3rem;

}

.about {
    display: inline-flex;
    font-family: 'Bree Serif', serif;
    border: 1px solid black;
    text-align: center;
}

#git-link {
    display: inline-flex;
    color: inherit;
    text-decoration: none;
}

/* footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: auto;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: #1d2c35;
}
